/* Estilo Principal da Página */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: arial;
}

html, body{
    background-color: #ffffffe8;
    overflow-x: hidden;
    width: 100%;
}

header {
    display: flex;
    width: 100vw;
    padding: 15px;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 20px -10px black;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

header.bg-white {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header-logo{
    height: 60px;
}

nav{
    display: flex;
}

h1{
    font-size: 30px;
    color: rgba(2, 61, 2, 0.555);
}

.menu-mobile{
    display: none;
}

.container-titulos{
    display: flex;
    gap: 10px;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.line{
    height: 5px;
    width: 50px;
    background-color: rgba(99, 99, 250, 0.366);
}

.titulos{
    font-size: 30px;
    visibility: hidden;
}

h2{
    color: rgba(0, 0, 0, 0.456);
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-sobrenome{
    color: rgba(0, 0, 255, 0.504);
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{
    padding-right: 5px;
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 0.456);
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    font-family: "Nunito", serif;
    transition: all 0.1s ease-in-out;
}

nav ul li a:hover{
    color: rgba(0, 0, 255, 0.504);
    transform: scale(1.2);
    border-bottom: 3px solid rgba(0, 0, 255, 0.504);
}

h3{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.438);
    font-weight: 500;
}

h4{
    color: rgba(99, 99, 250, 0.366);
    font-size: 40px;
}

p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.511);
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color:rgba(99, 99, 250, 0.366);
}

.whatsapp-flutuante{
    display: none;
}

.container-habilidades{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.habilidades{
    height: 200px;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
}

.habilidades:hover{
    transform: scale(1.1);
}

.habilidades2{
    height: 210px;
    transition: all 0.3s ease-in-out;
}

.habilidades2:hover{
    transform: scale(1.1);
}

.sessao_content{
    display: flex;
    padding-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.container-perfil{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    width: 100vw; 
}

.imagem-perfil{
    height: 350px;
    margin-top: 100px;
}

.resumo{
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.resumo h1{
    color: rgba(0, 0, 0, 0.456);
    font-size: 30px;
    font-family: "Nunito", serif;
}

.resumo h4{
    font-family: "Nunito", serif;
    font-size: 30px;
    margin-bottom: 13px;
}

.btn{
    height: 70px;
    width: 400px;
    padding: 10px;
    border: none;
    color: white;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 255, 0.504);
    cursor: pointer;
}

.btn:hover{
    color: rgba(0, 0, 255, 0.504);
    background-color: white;
    border: 1px solid blue;
    transition: 0.5s;
}

.sessao_content-2{
    display: flex;
    gap: 10px;
    padding: 50px 0px 50px 0px;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(49, 48, 48, 0.018);
}

.container-sobre-mim{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.bio{
    width: 50%;
    display: flex;
    text-align: left;
}

.txt{
    color: rgba(0, 0, 0, 0.456);
    font-size: 25px;
}

.container-projetos{
    display: flex;
    padding: 20px;
    gap: 10px;
    text-align: center;
    justify-content: center;
    width: 100vw;
}

.container-projetos-2{
    margin-top: 10px;
    padding: 5px;
}

.container-projeto-content{
    margin-top: 20px;
    width: 450px;
    padding-top: 30px;
    border: 3px solid rgba(0, 0, 0, 0.214);
    transition: all 0.3s ease-in-out;
}

.container-projeto-content:hover{
    transform: scale(1.1);
}

button{
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    background-color: rgba(0, 0, 255, 0.504);
    cursor: pointer;
}

button:hover{
    border: rgba(0, 0, 255, 0.504);
    background-color: white;
    border: 1px solid blue;
    transition: 0.5s;
    color: rgba(0, 0, 255, 0.504);
}

button .btn a:hover{
    border: rgba(0, 0, 255, 0.504);
    background-color: white;
    border: 1px solid blue;
    transition: 0.5s;
    color: rgba(0, 0, 255, 0.504);
}

.sessao_content-3{
    display: flex;
    gap: 10px;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icones-contato{
    margin: 20px;
    height: 70px;
    transition: all 0.3s ease-in-out;
}

.icones-contato:hover{
    transform: scale(1.2);
}

footer{
    display: flex;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;
}

footer p{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 255, 0.504)e;
}
/* Responsividade MOBILE */

/* Estilo para o menu lateral no mobile */
.menu-lateral-mobile {
    display: none;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

/* Exibe o menu quando o "menu" for aberto */
.menu-lateral-mobile.open {
    transform: translateX(0);
}

/* Estilo do ícone do menu */
.icone-menu-lateral {
    display: block;
    cursor: pointer;
}

.align{
    padding: 20px;
    height: 10%;
    width: 100%;
    display: flex;
    text-align: right;
    justify-content: right;
}

.align .menu-mobile-lateral{
    display: flex;
    left: 20px;
    top: 0;
}

.container-menu-lateral-list{
    display: flex;
    text-align: center;
    align-items: center;
    height: 90%;
}

/* Estilos dos itens do menu */
.container-menu-lateral-list ul li {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: rgba(0, 0, 255, 0.504);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    font-size: 30px;
}

.container-menu-lateral-list ul li:hover {
    color: red;
    transform: scale(1.2);
}